.shoppage {
  //   position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  //   overflow-y: scroll;
  //   scroll-behavior: initial;
}

.filters-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.collection-preview-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2rem;
  margin-top: 10px;
}
